body {
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #00c9a7;
    color: white;
}

.hidden {
    display: none;
}

li {
    background: rgba(255,255,255,0.2);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}