body {
    margin:0;
    font-family:Arial;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
    text-align:center;
}

.screen { display:none; height:100vh; justify-content:center; align-items:center; flex-direction:column; }
.screen.active { display:flex; }

button {
    padding:10px;
    margin:5px;
    border-radius:10px;
    border:none;
    background:#00c9a7;
    color:white;
    cursor:pointer;
}

#board {
    display:grid;
    grid-template-columns: repeat(5,80px);
    gap:10px;
}

.cell {
    background:rgba(255,255,255,0.1);
    border-radius:10px;
    height:80px;
    position:relative;
}

.player {
    position:absolute;
    bottom:5px;
    right:5px;
}

.houses {
    position:absolute;
    top:5px;
    left:5px;
}